/* DEMO STYLES (not required) */
body {
	margin: 0; padding: 0;
	font-family: sans-serif;
	background-color: #333;
}
header, footer {
	height: 200px;
	background-color: #9dded6;
}
.site-content {
	height: 500px;
	background-color:	#fff;
}
/* PUT CSS HERE */
.site-header {
	background: url('images/bg-header-05.jpg') no-repeat center center fixed;
	background-position: cover;
	position: relative;
	height: 500px;
	overflow: hidden;
	text-align: center;
	color: #fff;
	font-family: Impact, sans-serif;
	text-transform: uppercase;
}

.site-header h1 {
	margin: 64px 0 0 0;
	font-size: 72px;
}

.site-header p {
	margin: 48px 0 0 0;
	font-size: 30px;
}

/*
	video bg
*/
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

video {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	object-fit: cover;
	object-position: 0;
}

@media (max-width: 920px) {
	video {
		width: 920px;
	}
}